/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--text-color: #000;
	--bg-color: #fff;
	--disabled-text-color: #ccc;
	--disabled-bg-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--bg-color: #333;
		--disabled-text-color: #ccc;
		--disabled-bg-color: #333;
	}
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}


html {
	position: relative;
	min-height: 100%;
}

.js-plotly-plot {
	width: 100%;
	background-color: var(--bg-color);
}